@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
    @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
}

@font-face {
    font-family: "Clash Display";
    src: url("/ClashDisplay-Variable.ttf");
}

@theme {
    --font-body: "Inter", sans-serif;
    --font-display: "Clash Display", sans-serif;
}

body {
    background-color: #070709;
    color: white;
}

.bounce-y {
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}
